:root {
    --cor-fundo: #9fbcd6;
    --cor-principal: #0B0D20;
    --cor-secundaria: #212333; 
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header.gilberto {
    width: 100%;
    background-color: var(--cor-fundo);
    padding: 10px 0;
    text-align: center;
}

header.gilberto img {
    max-width: 35%;
    height: auto;
    border: solid 5px var(--cor-destaque);
    border-radius:  5px;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border: solid 5px var(--cor-destaque);
    border-radius: 5px;
    margin-top: 20px;
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
