:root{
    --cor-fundo: #9fbcd6 ;
    --cor-principal: #0B0D20 ;
    --cor-secundaria: #212333; 
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;

}

.gilberto {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0%;
   
}

.gilberto img {
    max-width: 35%; /* Garante que a imagem não ultrapasse a largura do container */
    height: auto;
}


body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
   border: solid 5px;
   border-color: #2BDEFD;
   border-radius: 5px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
